[BEGINVDF]
Comment=Free aiming patch for Gothic and Gothic 2 NotR%%NGothic Free Aim, Copyright (C) 2016-2018  mud-freak (@szapp), subject to MIT License%%N<http://github.com/szapp/GothicFreeAim>
VDFName=.\FreeAiming.vdf

[FILES]
README_FreeAiming.txt

; Resources (list the specific files from _work here)
_work\Data\Anims\_compiled\Humans*_Aim_Hurt.man
_work\Data\Anims\_compiled\Humans*_Aim_Move*.man
_work\Data\Textures\_compiled\Reticle*-C.tex

; Script files
Ninja\Ikarus\* -r
Ninja\LeGo\* -r
Ninja\FreeAiming\* -r

[EXCLUDE]
_work\Data\Scripts\* -r
*.vm
*.vdf
*.bat

[INCLUDE]

[ENDVDF]
